<script>
	import Tailwindcss from './Tailwindcss.svelte';
	import ApolloClient from 'apollo-client';
	import { client } from './apollo';
	import { setClient } from 'svelte-apollo';
	import ScansSubscription from './ScansSubscription.svelte';
	import ScansDownload from './ScansDownload.svelte';
	import ScansPerUser from './ScansPerUser.svelte';

	setClient(client);
	// export let name;  <- var in main.js
	const processother = process;
	console.log(processother);

	
</script>

<style>
	h1 {
		color: purple;
	}
</style>

<Tailwindcss />

<section>


	<div class="px-2">
  <div class="flex flex-wrap">
    <div class="w-full sm:w-1/2 md:w-1/2 lg:w-1/2 xl:w-1/2 mb-4 bg-gray-500">
      <div class="bg-gray-400 px-8 py-4">
		  <h2>Scans per user</h2>
	  <ScansPerUser/>

	  </div>
    </div>
    <div class="class=w-full sm:w-1/2 md:w-1/2 lg:w-1/2 xl:w-1/2 mb-4 bg-gray-500">
      <div class="bg-gray-500 px-4 py-4">
		  	<h2>Recent scans</h2>
		  <ScansSubscription />

	  </div>
    </div>

  </div>
</div>

	<div class="py-6 px-6">
		  <ScansDownload  />
	</div>


</section>
