<script >
  import gql from 'graphql-tag';
  import { client } from './apollo';
  import { ExportToCsv } from '../node_modules/export-to-csv/build/export-to-csv.js';

  import { query, mutate } from 'svelte-apollo';
  import { xmlGenerator } from "./xmlGenerator";




  const EAN_LIST = gql`
    query {
      stocktake_sum_ean {
        amount
        ean
      }
    }
  `;
  // const eanList = query(client, { query: EAN_LIST });
  const DELETE_TABLE = gql`
  mutation DELETE_TABLE {
    delete_stocktake_scans(where: {id: {_gt: 0}}) {
      returning {
        id
      }
    }
  }
  `;

  const csv_options = {
    fieldSeparator: ',',
    quoteStrings: '',
    decimalSeparator: '.',
    showLabels: true,
    showTitle: false,
    filename: 'inventur',
    // title: '',
    useTextFile: false,
    useBom: true,
    useKeysAsHeaders: true,
    // headers: ['ean', 'amount']
    // headers: ['Column 1', 'Column 2', etc...] <-- Won't work with useKeysAsHeaders present!
  };
  // const ExportToCsv = require('export-to-csv').ExportToCsv;
  const csvExporter = new ExportToCsv(csv_options);

  // let csv_data = "loading";
  //
  // async function load_csv_data() {
  //
  //   csv_data = await query(client, { query: EAN_LIST });
  //   console.log(csv_data);
  //   // csv_data = csvExporter.generateCsv(result)
  // }

  let csv_data = ""
  let raw = "loading"

  let kunde = ""
  let auftragsnr = ""

  function create_csv(data) {
    const result = []

    data.forEach(function(obj) {
      console.log(obj)
      result.push({"EAN/Barcode": obj.ean, "Lagerbestand": obj.amount})
    })
    csvExporter.generateCsv(result);
  }
  async function load_csv_data() {
    console.log("yyy");
    // query(client, { query: EAN_LIST }).then(console.log);
    const result = await query(client, {query: EAN_LIST });
    const obj = await result.result()
    // console.log('xxx');
    console.log(obj.data.stocktake_sum_ean)
    raw = obj.data.stocktake_sum_ean

    create_csv(raw)
    // console.log(result)
    // csv_data = await result();
  }

  async function delete_table() {
    console.log("delete table")
    const result = await mutate(client, {mutation: DELETE_TABLE });
    console.log(result)

  }

  async function export_xml() {

    console.log("xml export");

    const result = await query(client, {query: EAN_LIST });
    const obj = await result.result()

    raw = obj.data.stocktake_sum_ean

    xmlGenerator(raw, kunde, auftragsnr, "svelte_csv_demo.xml");
  }


  // const csv_data = csvExporter.generateCsv(data);

</script>

<button on:click={load_csv_data} class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
	Download
</button>

<input type="text" bind:value={kunde} placeholder="kundennr">
<input type="text" bind:value={auftragsnr} placeholder="auftragsnr">
<button on:click={export_xml} class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
	Download XML
</button>

<button on:click={delete_table} class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
	Clear table
</button>

<!--{csv_data}-->

