<script >
  import gql from 'graphql-tag';
  import { client } from './apollo';

  import { subscribe } from 'svelte-apollo';

  const SCAN_LIST = gql`
  subscription {
   stocktake_scans(limit: 40, order_by: {id: desc}) {
    amount
    barcode_format
    capture_type
    device_id
    ean
    id
  }
}
  `;
  const scanList = subscribe(client, { query: SCAN_LIST });
</script>

<ul>
  {#await $scanList}
    <li>Loading...</li>
  {:then result}
    {#each result.data.stocktake_scans.sort((a, b) => (a.id < b.id)) as scan (scan.id)}
      <li>ean: {scan.ean} - anzahl: {scan.amount} - device: {scan.device_id}</li>
    {:else}
      <li>No scans</li>
    {/each}
  {:catch error}
    <li>Error loading scans: {error}</li>
  {/await}
</ul>

