<script >
  import gql from 'graphql-tag';
  import { client } from './apollo';

  import { subscribe } from 'svelte-apollo';
  import {TableSort} from 'svelte-tablesort'


  const SCANS_PER_USER = gql`
  subscription {
   stocktake_scans_per_user {
    count
    sum_items
    user
  }
}
  `;
  const scanList = subscribe(client, { query: SCANS_PER_USER });
</script>

<div class="flex flex-wrap">
<div class="w-full sm:w-1/2 md:w-1/2 lg:w-1/2 xl:w-1/2 mb-4 bg-gray-500">

  {#await $scanList}
    <li>Loading...</li>
  {:then result}

<TableSort items={result.data.stocktake_scans_per_user}>

	<tr slot="thead">
		<th data-sort="user">User</th>
		<th data-sort="count" data-sort-initial="descending">Scans</th>
	</tr>
	<tr slot="tbody" let:item={item}>
		<td>{item.user}</td>
		<td>{item.count}</td>
	</tr>
</TableSort>

	{/await}
</div>



<div class="w-full sm:w-1/2 md:w-1/2 lg:w-1/2 xl:w-1/2 mb-4 bg-gray-400">

  {#await $scanList}
    <li>Loading...</li>
  {:then result}

<TableSort items={result.data.stocktake_scans_per_user}>

	<tr slot="thead">
		<th data-sort="user">User</th>
		<th data-sort="sum_items" data-sort-initial="descending">Items</th>
	</tr>
	<tr slot="tbody" let:item={item}>
		<td>{item.user}</td>
		<td>{item.sum_items}</td>
	</tr>
</TableSort>
		{/await}

</div>
</div>
